html {
  background: rgb(0, 212, 255);
  background: linear-gradient(311deg, rgba(0, 212, 255, 1) 0%, rgba(97, 255, 202, 1) 52%, rgba(0, 212, 255, 1) 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
}

.greeting-message {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}